<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body class="font-mono">
    <div class="sm:container mx-auto">
      <h1 class="text-3xl font-bold py-3">User Table</h1>

      <div class="flex justify-center flex-col">
        <table class="users">
          <thead class="border border-solid border-black">
            <tr class="border border-solid border-black">
              <th>ID</th>
              <th>Email</th>
              <th>Username</th>
              <th>Password</th>
              <th>Detail</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>dummy1@example.com</td>
              <td>dummy1</td>
              <td>password1</td>
              <td>dummy detail 1</td>
            </tr>
            <tr>
              <td>1</td>
              <td>dummy1@example.com</td>
              <td>dummy1</td>
              <td>password1</td>
              <td>dummy detail 1</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
