<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body id="signup" class="font-sans bg-teal-50">
    <div class="sm:container mx-auto">
      <div class="flex flex-row justify-center items-center h-screen">
        <form action="">
          <label for="">Email</label>
          <input name="email" type="text" placeholder="Enter your email" />
          <label for="">Password</label>
          <input
            name="password"
            type="text"
            placeholder="Enter your password"
          />
          <label for="">Repeat Password</label>
          <input name="repass" type="text" placeholder="Repeat your password" />
          <label for="">Username</label>
          <input name="username" type="text" placeholder="Enter username" />
          <label for="">Detail</label>
          <input name="detail" type="text" placeholder="Enter detail" />
          <button
            class="bg-green-500 text-white w-full mt-5 rounded-md px-5 py-2"
            type="submit"
          >
            Sign up
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
